MinisterioDeportes/MinisterioDeportes/Service References/ReferenceMinisterioDeportesWCF/WebServiceMD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceMD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6352/WebServiceMD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6352/WebServiceMD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6352/WebServiceMD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MinisterioDeportesWCF.Entidades" />
      <xsd:import schemaLocation="http://localhost:6352/WebServiceMD.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebServiceMD_ValidarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLogin" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ValidarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDeporte" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDeporte" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EditarDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarDeporte" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EditarDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerDeportes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeportes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerDeportes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeportesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarRutina" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ActualizarRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRutina" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ActualizarRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerRutinas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRutinas" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerRutinas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerRutinasResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarRutina_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRutina" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarRutina_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarRutinaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPersona" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersona" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ActualizarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersona" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ActualizarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerParticipantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParticipantes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerParticipantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParticipantesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EliminarPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EditarPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarPlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_EditarPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerPlanes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPlanes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerPlanes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPlanesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaPlanes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPlanes" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaPlanes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPlanesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaRutinasPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaRutinasPlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaRutinasPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaRutinasPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_agregarRutinaAPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarRutinaAPlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_agregarRutinaAPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarRutinaAPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_removerRutinaDePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:removerRutinaDePlan" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_removerRutinaDePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:removerRutinaDePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaDeportesPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaDeportesPorUsuario" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaDeportesPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaDeportesPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_agregarDeprteAUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarDeprteAUsuario" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_agregarDeprteAUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarDeprteAUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_removerDeporteDeUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:removerDeporteDeUsuario" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_removerDeporteDeUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:removerDeporteDeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaPlanesPorDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPlanesPorDeporte" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerListaPlanesPorDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaPlanesPorDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPlanADeporteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlanADeporteUsuario" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_AgregarPlanADeporteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarPlanADeporteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_RemovePlanADeporteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlanADeporteUsuario" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_RemovePlanADeporteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlanADeporteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerCantidadPersonasPorDeporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCantidadPersonasPorDeporte" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_ObtenerCantidadPersonasPorDeporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCantidadPersonasPorDeporteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_BackupDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:BackupDataBase" />
  </wsdl:message>
  <wsdl:message name="IWebServiceMD_BackupDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackupDataBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebServiceMD">
    <wsdl:operation name="ValidarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ValidarLogin" message="tns:IWebServiceMD_ValidarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ValidarLoginResponse" message="tns:IWebServiceMD_ValidarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarDeporte" message="tns:IWebServiceMD_AgregarDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarDeporteResponse" message="tns:IWebServiceMD_AgregarDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarDeporte" message="tns:IWebServiceMD_EliminarDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarDeporteResponse" message="tns:IWebServiceMD_EliminarDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EditarDeporte" message="tns:IWebServiceMD_EditarDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EditarDeporteResponse" message="tns:IWebServiceMD_EditarDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeportes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerDeportes" message="tns:IWebServiceMD_ObtenerDeportes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerDeportesResponse" message="tns:IWebServiceMD_ObtenerDeportes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarRutina" message="tns:IWebServiceMD_AgregarRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarRutinaResponse" message="tns:IWebServiceMD_AgregarRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ActualizarRutina" message="tns:IWebServiceMD_ActualizarRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ActualizarRutinaResponse" message="tns:IWebServiceMD_ActualizarRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerRutinas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerRutinas" message="tns:IWebServiceMD_ObtenerRutinas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerRutinasResponse" message="tns:IWebServiceMD_ObtenerRutinas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarRutina">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarRutina" message="tns:IWebServiceMD_EliminarRutina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarRutinaResponse" message="tns:IWebServiceMD_EliminarRutina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPersona" message="tns:IWebServiceMD_AgregarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPersonaResponse" message="tns:IWebServiceMD_AgregarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarPersona" message="tns:IWebServiceMD_EliminarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarPersonaResponse" message="tns:IWebServiceMD_EliminarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ActualizarPersona" message="tns:IWebServiceMD_ActualizarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ActualizarPersonaResponse" message="tns:IWebServiceMD_ActualizarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParticipantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerParticipantes" message="tns:IWebServiceMD_ObtenerParticipantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerParticipantesResponse" message="tns:IWebServiceMD_ObtenerParticipantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPlan" message="tns:IWebServiceMD_AgregarPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPlanResponse" message="tns:IWebServiceMD_AgregarPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarPlan" message="tns:IWebServiceMD_EliminarPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EliminarPlanResponse" message="tns:IWebServiceMD_EliminarPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/EditarPlan" message="tns:IWebServiceMD_EditarPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/EditarPlanResponse" message="tns:IWebServiceMD_EditarPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlanes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerPlanes" message="tns:IWebServiceMD_ObtenerPlanes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerPlanesResponse" message="tns:IWebServiceMD_ObtenerPlanes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPlanes">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaPlanes" message="tns:IWebServiceMD_ObtenerListaPlanes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaPlanesResponse" message="tns:IWebServiceMD_ObtenerListaPlanes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaRutinasPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaRutinasPlan" message="tns:IWebServiceMD_ObtenerListaRutinasPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaRutinasPlanResponse" message="tns:IWebServiceMD_ObtenerListaRutinasPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarRutinaAPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/agregarRutinaAPlan" message="tns:IWebServiceMD_agregarRutinaAPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/agregarRutinaAPlanResponse" message="tns:IWebServiceMD_agregarRutinaAPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removerRutinaDePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/removerRutinaDePlan" message="tns:IWebServiceMD_removerRutinaDePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/removerRutinaDePlanResponse" message="tns:IWebServiceMD_removerRutinaDePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDeportesPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaDeportesPorUsuario" message="tns:IWebServiceMD_ObtenerListaDeportesPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaDeportesPorUsuarioResponse" message="tns:IWebServiceMD_ObtenerListaDeportesPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarDeprteAUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/agregarDeprteAUsuario" message="tns:IWebServiceMD_agregarDeprteAUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/agregarDeprteAUsuarioResponse" message="tns:IWebServiceMD_agregarDeprteAUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removerDeporteDeUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/removerDeporteDeUsuario" message="tns:IWebServiceMD_removerDeporteDeUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/removerDeporteDeUsuarioResponse" message="tns:IWebServiceMD_removerDeporteDeUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPlanesPorDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaPlanesPorDeporte" message="tns:IWebServiceMD_ObtenerListaPlanesPorDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerListaPlanesPorDeporteResponse" message="tns:IWebServiceMD_ObtenerListaPlanesPorDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarPlanADeporteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPlanADeporteUsuario" message="tns:IWebServiceMD_AgregarPlanADeporteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/AgregarPlanADeporteUsuarioResponse" message="tns:IWebServiceMD_AgregarPlanADeporteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlanADeporteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/RemovePlanADeporteUsuario" message="tns:IWebServiceMD_RemovePlanADeporteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/RemovePlanADeporteUsuarioResponse" message="tns:IWebServiceMD_RemovePlanADeporteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCantidadPersonasPorDeporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerCantidadPersonasPorDeporte" message="tns:IWebServiceMD_ObtenerCantidadPersonasPorDeporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/ObtenerCantidadPersonasPorDeporteResponse" message="tns:IWebServiceMD_ObtenerCantidadPersonasPorDeporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BackupDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceMD/BackupDataBase" message="tns:IWebServiceMD_BackupDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceMD/BackupDataBaseResponse" message="tns:IWebServiceMD_BackupDataBase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebServiceMD" type="tns:IWebServiceMD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLogin">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ValidarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarDeporte">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/AgregarDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDeporte">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EliminarDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarDeporte">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EditarDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeportes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerDeportes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarRutina">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/AgregarRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarRutina">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ActualizarRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerRutinas">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerRutinas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarRutina">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EliminarRutina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPersona">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/AgregarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ActualizarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParticipantes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerParticipantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/AgregarPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EliminarPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarPlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/EditarPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPlanes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerPlanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPlanes">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerListaPlanes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaRutinasPlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerListaRutinasPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarRutinaAPlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/agregarRutinaAPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removerRutinaDePlan">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/removerRutinaDePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDeportesPorUsuario">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerListaDeportesPorUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarDeprteAUsuario">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/agregarDeprteAUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removerDeporteDeUsuario">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/removerDeporteDeUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPlanesPorDeporte">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerListaPlanesPorDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarPlanADeporteUsuario">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/AgregarPlanADeporteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePlanADeporteUsuario">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/RemovePlanADeporteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCantidadPersonasPorDeporte">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/ObtenerCantidadPersonasPorDeporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackupDataBase">
      <soap:operation soapAction="http://tempuri.org/IWebServiceMD/BackupDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMD">
    <wsdl:port name="BasicHttpBinding_IWebServiceMD" binding="tns:BasicHttpBinding_IWebServiceMD">
      <soap:address location="http://localhost:6352/WebServiceMD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>