MinisterioDeportes/MinisterioDeportes/Service References/ReferenceMinisterioDeportesWCF/WebServiceMD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinisterioDeportesAccesoADatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinisterioDeportesAccesoADatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedula" type="xs:int" />
      <xs:element minOccurs="0" name="deporte" nillable="true" type="tns:ArrayOfdeporte" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="persona" nillable="true" type="tns:persona" />
  <xs:complexType name="ArrayOfdeporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="deporte" nillable="true" type="tns:deporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdeporte" nillable="true" type="tns:ArrayOfdeporte" />
  <xs:complexType name="deporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="persona" nillable="true" type="tns:ArrayOfpersona" />
      <xs:element minOccurs="0" name="plan" nillable="true" type="tns:ArrayOfplan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deporte" nillable="true" type="tns:deporte" />
  <xs:complexType name="ArrayOfpersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="persona" nillable="true" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpersona" nillable="true" type="tns:ArrayOfpersona" />
  <xs:complexType name="ArrayOfplan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="plan" nillable="true" type="tns:plan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfplan" nillable="true" type="tns:ArrayOfplan" />
  <xs:complexType name="plan">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="deporte" nillable="true" type="tns:ArrayOfdeporte" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutina" nillable="true" type="tns:ArrayOfrutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="plan" nillable="true" type="tns:plan" />
  <xs:complexType name="ArrayOfrutina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rutina" nillable="true" type="tns:rutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrutina" nillable="true" type="tns:ArrayOfrutina" />
  <xs:complexType name="rutina">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plan" nillable="true" type="tns:ArrayOfplan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rutina" nillable="true" type="tns:rutina" />
</xs:schema>