MinisterioDeportes/MinisterioDeportes/Service References/ReferenceMinisterioDeportesWCF/WebServiceMD2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinisterioDeportesAccesoADatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinisterioDeportesAccesoADatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="deporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="persona" nillable="true" type="tns:ArrayOfpersona" />
      <xs:element minOccurs="0" name="rutina" nillable="true" type="tns:ArrayOfrutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deporte" nillable="true" type="tns:deporte" />
  <xs:complexType name="ArrayOfpersona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="persona" nillable="true" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpersona" nillable="true" type="tns:ArrayOfpersona" />
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedula" type="xs:int" />
      <xs:element minOccurs="0" name="deporte" nillable="true" type="tns:ArrayOfdeporte" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="persona" nillable="true" type="tns:persona" />
  <xs:complexType name="ArrayOfdeporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="deporte" nillable="true" type="tns:deporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdeporte" nillable="true" type="tns:ArrayOfdeporte" />
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="es_admi" type="xs:boolean" />
      <xs:element minOccurs="0" name="persona" nillable="true" type="tns:persona" />
      <xs:element minOccurs="0" name="usuario1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usuario" nillable="true" type="tns:usuario" />
  <xs:complexType name="ArrayOfrutina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rutina" nillable="true" type="tns:rutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrutina" nillable="true" type="tns:ArrayOfrutina" />
  <xs:complexType name="rutina">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="deporte" nillable="true" type="tns:deporte" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_deporte" type="xs:int" />
      <xs:element minOccurs="0" name="plan_rutina" nillable="true" type="tns:ArrayOfplan_rutina" />
      <xs:element minOccurs="0" name="plan_rutina1" nillable="true" type="tns:ArrayOfplan_rutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="rutina" nillable="true" type="tns:rutina" />
  <xs:complexType name="ArrayOfplan_rutina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="plan_rutina" nillable="true" type="tns:plan_rutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfplan_rutina" nillable="true" type="tns:ArrayOfplan_rutina" />
  <xs:complexType name="plan_rutina">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_rutina" type="xs:int" />
      <xs:element minOccurs="0" name="rutina" nillable="true" type="tns:rutina" />
      <xs:element minOccurs="0" name="rutina1" nillable="true" type="tns:ArrayOfrutina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="plan_rutina" nillable="true" type="tns:plan_rutina" />
</xs:schema>