MinisterioDeportes/MinisterioDeportes/Service References/ReferenceMinisterioDeportesWCF/WebServiceMD3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MinisterioDeportesWCF.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MinisterioDeportesWCF.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cedula" type="xs:int" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esAdmi" type="xs:boolean" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaDTO" nillable="true" type="tns:PersonaDTO" />
</xs:schema>